<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Seleccione Archivo para generar proceso...</p>


    <form   action="fileupload" method="post" enctype="multipart/form-data" >
     <input type="file" name="filetoupload" accept=".pdf"><br>
     <input type="submit">
     </form>

  </body>
</html>



