<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fileUpload.css' />
  </head>
  <body>
    <h1> Hola</h1>
    

    <div id='status' class='invisible'><%= errormessage %></div>
    <form   action="fileupload" method="post" enctype="multipart/form-data" >
     <input type="file"  id="filetoupload"  name="filetoupload" onchange=" cambiar()" accept=".pdf">
     <p id="texto" >Seleccione archivo para generar proceso...</p>
     <button type="submit" id="button" disabled="disabled" >Cargar</button>
     </form>

  </body>
</html>


<script>

  function cambiar(){
    document.getElementById("texto").textContent = document.getElementById("filetoupload").files[0].name;
    document.getElementById("button").disabled = false;  
  }
  if ( document.getElementById("status").textContent!=''  ){
    alert(document.getElementById("status").textContent)
    document.getElementById("filetoupload").value=""
  }


</script>



